# Dependencies
node_modules/

# Build outputs
build/
dist/

# Environment variables (Critical)
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db