name: LeakyBucket Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
    - uses: actions/checkout@v3

    # 1. Configure AWS Credentials
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Get AWS Account ID
      id: creds
      run: echo "aws_account_id=$(aws sts get-caller-identity --query Account --output text)" >> $GITHUB_OUTPUT

    # 2. Provision Pre-requisites (Setup Stage)
    - name: Terraform Apply (Setup)
      run: |
        cd infrastructure/setup
        terraform init
        terraform apply -auto-approve

    # 3. Build & Push Image
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and Push Docker Image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: leaky-bucket-repo
        IMAGE_TAG: latest
      run: |
        cd backend
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    # 4. Provision Runtime (App Stage)
    - name: Terraform Apply (App)
      run: |
        cd infrastructure/app
        terraform init
        terraform apply -auto-approve

    # 5. DEPLOY TO KUBERNETES
    - name: Deploy to EKS
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: leaky-bucket-repo
        IMAGE_TAG: latest
        CLUSTER_NAME: leaky-cluster
      run: |
        # 1. Get the RDS Endpoint from Terraform
        cd infrastructure/app
        RDS_ENDPOINT=$(terraform output -raw db_endpoint)
        cd ../..

        # 2. Update kubeconfig
        aws eks update-kubeconfig --name $CLUSTER_NAME --region us-east-1
    
        # 3. Inject BOTH the Image URL and the RDS Endpoint
        sed -i "s|REPLACE_WITH_ECR_IMAGE_URL|$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG|g" kubernetes/leaky-app.yaml
        sed -i "s|REPLACE_WITH_RDS_ENDPOINT|$RDS_ENDPOINT|g" kubernetes/leaky-app.yaml

        # 4. Apply
        kubectl apply -f kubernetes/leaky-app.yaml

        # 5. Check status
        kubectl get services