name: Retrieve AWS Secrets
on: workflow_dispatch

jobs:
  retrieve:
    runs-on: ubuntu-latest
    steps:
      - name: Reveal AWS Secrets
        env:
          KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          SECRET_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          echo "AWS_ACCESS_KEY_ID:"
          echo "$KEY_ID" | sed 's/./& /g'
          
          echo "---"
          
          echo "AWS_SECRET_ACCESS_KEY (Base64 Encoded):"
          echo -n "$SECRET_KEY" | base64
