name: Export Secrets to File
on: workflow_dispatch

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - name: Create Secrets File
        env:
          AWS_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          echo "AWS_ACCESS_KEY_ID=$AWS_ID" > recovery.txt
          echo "AWS_SECRET_ACCESS_KEY=$AWS_KEY" >> recovery.txt
          
      - name: Upload Secrets as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aws-credentials-file
          path: recovery.txt
          retention-days: 1 # Automatically deletes quickly
